body {
    background: #FFFFFF;
}
#main {
    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
}

.error {
    color: red;
    font-size: 80%;
}

.footer {
    font-size: 80%;
    text-align: center;
}